<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>库存管理</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="stylesheets/theme.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">

    <script src="lib/jquery-1.7.2.min.js" type="text/javascript"></script>

    <!-- Demo page code -->

    <style type="text/css">
        #line-chart {
            height: 300px;
            width: 800px;
            margin: 0px auto;
            margin-top: 1em;
        }

        .brand {
            font-family: georgia, serif;
        }

        .brand .first {
            color: #ccc;
            font-style: italic;
        }

        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<!--[if lt IE 7 ]>
<body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>
<body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]>
<body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]>
<body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">

<div th:insert="~{index::header}"></div>

<div class="content">

    <div class="header">

        <h1 class="page-title">库存管理</h1>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <!--<form action="/stockList" method="post" style="padding-top:5px;" th:object="${drug}">-->
            <!--<div>-->
            <!--<input type="text" name="pname" th:field="*{dname}"/>-->
            <!--<select name="cid" th:field="*{cid}">-->
            <!--<option value="">请选择类型</option>-->
            <!--<option th:each="c:${clist }" th:value="${c.cid}"><span th:text="${c.cname}"></span></option>-->
            <!--</select>-->
            <!--<input class="btn" type="submit" value="查询"/>-->
            <!--</div>-->
            <!--</form>-->

            <div class="btn-toolbar">
                <button class="btn btn-primary" onclick="toStockAdd()"><i class="icon-plus"></i>添加</button>
                <div class="btn-group">
                </div>
            </div>
            <div class="well">
                <table class="table" style="text-align: center;">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>药品名称</th>
                        <th>库存数量</th>
                        <th>低限</th>
                        <th>最后修改时间</th>
                        <th>最后修改人</th>
                        <th style="width: 80px;">操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="d:${page.list }">
                        <form th:id="${d.sid }+'stockForm'" method="post">
                            <input type="hidden" th:id="${d.sid }+'sid'" name="sid" th:value="${d.sid }"
                                   style="width:50px;height:10px">
                            <td th:text="${d.sid }">
                            </td>
                            <td><input type="text" th:id="${d.sid }+'did'" name="did" th:value="${d.did }"
                                       style="width:50px;height:10px" disabled="disabled"></td>
                            <td><input type="text" th:id="${d.sid }+'amount'" name="amount" th:value="${d.amount }"
                                       style="width:50px;height:10px" disabled="disabled"></td>
                            <td><input type="text" th:id="${d.sid }+'lowLimit'" name="lowLimit"
                                       th:value="${d.lowLimit }"
                                       style="width:50px;height:10px" disabled="disabled"></td>
                            <td><input type="text" th:id="${d.sid }+'updateTime'" name="updateTime"
                                       th:value="${d.updateTime }"
                                       style="width:210px;height:10px" disabled="disabled"></td>
                            <td><input type="text" th:id="${d.sid }+'uid'" name="uid" th:value="${d.uid }"
                                       style="width:50px;height:10px" disabled="disabled"></td>
                            <td>
                                <a href="javascript:;" th:id="${d.sid}" onclick="javascript:disabledStock(this)"><i
                                        class="icon-pencil"></i></a>
                                <a href="#" data-toggle="modal" th:id="${d.sid}"
                                   onclick="javascript:updateStock(this)"
                                   role="button"><i class="icon-save"></i></a>
                                <a href="#myModal" data-toggle="modal" th:id="${d.sid}" onclick="javascript:fuzhi(this)"
                                   role="button"><i class="icon-remove"></i></a>
                            </td>
                        </form>
                    </tr>


                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <!--  class="pagination" -->

                <span th:each="p:${page.pageView }">
		<span class="page" th:utext="${p }"></span>
	</span>

            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">删除</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>你确定要删除么?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                    <button class="btn btn-danger" data-dismiss="modal" onclick="delStock()">删除</button>
                </div>
            </div>


        </div>
    </div>
</div>

<script src="lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
    $(function () {
        $('.demo-cancel-click').click(function () {
            return false;
        });
    });
    if (session.user == null) window.location.href = "/toToLogin";
    function toStockAdd() {
        window.location.href = "/toStockAdd";
    }
    function fuzhi(obj){
        sid = $(obj).attr("id");
    }
    function delStock(){
        $.post('/delStock?sid='+sid, {}, function (data) {
            if(data.result==1){
                alert("删除成功");
                window.location.href = "/stockList";
            }else if(data.result==0){
                alert("删除失败，请刷新重试");
            }
        }, 'json');
    }
    function disabledStock(obj) {
//        alert($(obj).attr("id"));
//        $('#' + $(obj).attr("id") + 'sid').attr("disabled", false);
        $('#' + $(obj).attr("id") + 'amount').attr("disabled", false);
        $('#' + $(obj).attr("id") + 'lowLimit').attr("disabled", false);
    }
    function updateStock(obj) {
//        alert($(obj).attr("id"));
        $.post('/updateStock', $('#' + $(obj).attr("id") + 'stockForm').serialize(), function (data) {
//                alert(data.result);
        }, 'json');
//        $('#' + $(obj).attr("id") + 'sid').attr("disabled", true);
        $('#' + $(obj).attr("id") + 'amount').attr("disabled", true);
        $('#' + $(obj).attr("id") + 'lowLimit').attr("disabled", true);
    }
</script>

</body>
</html>


